<table align="center" bgcolor="#FFFFFF" class="devicewidth"
       style="text-align: center; font-family: Helvetica, Arial, sans-serif; font-size: 18;" width="600" yahoo="fix">
    <tbody align="left">
    <!-- Header -->
    <tr>
        <td>
            <table width="100%">
                <tbody>
                {{#template.en}}<span class="sg-image"
                                      data-imagelibrary="%7B%22width%22%3A348%2C%22height%22%3A86%2C%22alignment%22%3A%22%22%2C%22border%22%3A0%2C%22src%22%3A%22http%3A//image.familysearch.ldschurch.org/lib/fe6315707166057a711d/m/1/FamSearch_Lockup_000-Color.png%22%2C%22classes%22%3A%7B%22sg-image%22%3A1%7D%7D"><img
                        border="0" height="86" id="image-placeholder" mdid="a869fbb4-92c7-470c-85ba-b4e39e995eda"
                        src="http://image.familysearch.ldschurch.org/lib/fe6315707166057a711d/m/1/FamSearch_Lockup_000-Color.png"
                        style="width: 348px; height: 86px;" title="FamSearch_Lockup_000-Color.png"
                        width="348"/></span>
                {{/template.en}}
                {{#template.es}}
                    <img id="image-placeholder"
                         src="http://image.familysearch.ldschurch.org/lib/fe6315707166057a711d/m/2/FamSearch_Lockup_Spanish_3.png"
                         border="0" title="FamSearch_Lockup_000-Color.png" mdid="a869fbb4-92c7-470c-85ba-b4e39e995eda"/>
                {{/template.es}}
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>

