<table align="center" bgcolor="#FFFFFF" class="devicewidth"
       style="text-align: center; font-family: Helvetica, Arial, sans-serif; font-size: 18;" width="600" yahoo="fix">
    <tbody align="left">
    <!-- Legal -->
    <tr>
        <td>
            <table>
                <tbody>
                <tr>
                    <td>
                        <table>
                            <tbody>
                            <tr>
                                <td style="font-family: Helvetica, Arial, sans-serif; font-size: 10px; line-height: 10px; color: #797979; border-spacing: 0px !important;">
                                    {{lang.thisMessageIntendedFor}} {{data.ums.recipient.name}}. {{lang.ifYouAreNot}} {{data.ums.recipient.name}}, {{lang.pleaseDisregard}}.
                                    <table>
                                        <tbody>
                                        <tr>
                                            <td height="10">&nbsp;</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    {{lang.thisEmailSentTo}}: <a data-click-track-id="6752" href=""
                                                                 style="text-decoration: none; color: #3ca7dd;">{{data.ums.recipient.email}}</a>

                                    <table>
                                        <tbody>
                                        <tr>
                                            <td height="5">&nbsp;</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    {{lang.thisEmailSentBy}}: FamilySearch

                                    <table>
                                        <tbody>
                                        <tr>
                                            <td height="5">&nbsp;</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    {{lang.aServiceProvidedBy}}

                                    <table>
                                        <tbody>
                                        <tr>
                                            <td height="5">&nbsp;</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    &copy; {{date.year}} {{lang.byIntReserve}}

                                    <table>
                                        <tbody>
                                        <tr>
                                            <td height="5">&nbsp;</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    50 E. North Temple Street Salt Lake City, UT 84150
                                    <table>
                                        <tbody>
                                        <tr>
                                            <td height="10">&nbsp;</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <a data-click-track-id="7399" href="https://familysearch.org/terms/"
                                       style="color: #3ca7dd; text-decoration: none;">{{lang.familysearchRightsAndUse}}</a> ({{lang.updated}} 2/3/2015) | <a data-click-track-id="584"
                                                                                                                                                             href="https://familysearch.org/privacy/"
                                                                                                                                                             style="color: #3ca7dd; text-decoration: none;">Privacy
                                    Policy</a> (Updated 3/18/2014)

                                    <table align="center"
                                           style="font-family: Helvetica, Arial, sans-serif; font-size: 10px; line-height: 10px; color: #797979; border-spacing: 0px !important;">
                                        <tbody>
                                        <tr>
                                            <td height="10">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td><a data-click-track-id="5889" href="ZZZprofile_center_urlZZZ"
                                                   style=" text-decoration: none; color:#3ca7dd;">Update Profile</a> |
                                                <a data-click-track-id="8569" href="{{data.optoutUrl}}"
                                                   style="text-decoration: none; color:#3ca7dd;">Opt out of receiving
                                                    this notification</a> | <a data-click-track-id="9465"
                                                                               href="ZZZunsub_center_urlZZZ"
                                                                               style="text-decoration: none; color:#3ca7dd;">One-Click
                                                    Unsubscribe from all FamilySearch communication</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
