# Version 1.0
#  This is the FamilySearch Welcome message that is sent to
#  a new user that recently created a FamilySearch account.
#

Welcome $user.name
Hope you enjoy your FamilySearch experience

Any feedback to $administrator is always welcome!
