<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style type="text/css">/* Client-specific Styles */
    #outlook a {
        padding: 0;
    }

    /* Force Outlook to provide a "view in browser" menu link. */
    body {
        width: 100% !important;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        margin: 0;
        padding: 0;
    }

    /* Prevent Webkit and Windows Mobile platforms from changing default font sizes, while not breaking desktop design. */
    .ExternalClass {
        width: 100%;
    }

    /* Force Hotmail to display emails at full width */
    .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {
        line-height: 100%;
    }

    /* Force Hotmail to display normal line spacing.  More on that: http://www.emailonacid.com/forum/viewthread/43/ */
    #backgroundTable {
        margin: 0;
        padding: 0;
        width: 100% !important;
        line-height: 100% !important;
    }

    img {
        outline: none;
        text-decoration: none;
        border: none;
        -ms-interpolation-mode: bicubic;
    }

    a img {
        border: none;
    }

    .image_fix {
        display: block;
    }

    p {
        margin: 0px 0px !important;
    }

    table td {
        border-collapse: collapse;
    }

    table {
        border-collapse: collapse;
        mso-table-lspace: 0pt;
        mso-table-rspace: 0pt;
    }

    /*a {color: #e95353;text-decoration: none;text-decoration:none!important;}*/
    /*STYLES*/
    table[class=full] {
        width: 100%;
        clear: both;
    }

    /* Template Styles */
    .mainBackground {
        background: #A4ABB6;
        height: auto;
        width: 100%;
    }

    .content {
        background: #FFFFFF;
        height: auto;
        width: 600px;
        align: center;
    }

    .header .body .footer {
        text-align: left;
    }

    /* sendwithus will not accept thee empty CSS entries. */
    /*.BannerImage {*/
    /*}*/

    /*.rightImage {*/
    /*}*/

    /*.bodyText {*/
    /*}*/

    /*.buttonText {*/
    /*}*/

    /*.ancestorDetails {*/
    /*}*/
    </style>
    <style media="only screen and (max-width: 440px)" type="text/css">@media only screen and (max-width: 440px) {
        table[yahoo] .BannerImage {
            width: 100%;
        }

        table[yahoo] .rightImage {
            text-align: center;
            width: 100%;
        }

        table[yahoo] .bodyText {
            font-size: .22px;
        }

        table[yahoo] .buttonText {
            font-size: .9em;
        }
    }
    </style>
    <style media="only screen and (max-width: 440px)" type="text/css">/*##############################################*/
    /*IPHONE STYLES*/
    /*##############################################*/
    @media only screen and (max-width: 440px) {
        a[href^="tel"], a[href^="sms"] {
            text-decoration: none;
            color: #ffffff; /* or whatever your want */
            pointer-events: none;
            cursor: default;
        }

        .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
            text-decoration: default;
            color: #ffffff !important;
            pointer-events: auto;
            cursor: default;
        }

        table[class=devicewidth] {
            width: 100% !important;
            text-align: center !important;
        }

        table[class=devicewidthinner] {
            width: 100% !important;
            text-align: center !important;
        }

        table[class="sthide"] {
            display: none !important;
        }

        img[class="bigimage"] {
            width: 100% !important;
        }
    }
    </style>
    <style media="only screen and (max-width: 640px)" type="text/css">/*################################################
            IPAD STYLES
        ################################################*/
    @media only screen and (max-width: 640px) {
        a[href^="tel"], a[href^="sms"] {
            text-decoration: none;
            color: #ffffff; /* or whatever your want */
            pointer-events: none;
            cursor: default;
        }

        .mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
            text-decoration: default;
            color: #ffffff !important;
            pointer-events: auto;
            cursor: default;
        }

        table[class=devicewidth] {
            width: 440px !important;
            text-align: center !important;
        }

        table[class=devicewidthinner] {
            width: 420px !important;
            text-align: center !important;
        }

        table[class="sthide"] {
            display: none !important;
        }

        img[class="bigimage"] {
            width: 420px !important;
        }
    }
    </style>
</head>
<body>
{{$header}}{{>ums_common_email-header}}{{/header}}
{{$content}}Default content{{/content}}
{{$footer}}{{>ums_common_email-footer}}{{/footer}}
</body>
</html>